* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

nav {
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 4fr;
  padding-left: 12%;
  padding-right: 12%;
  height: 50px;
  font-family: sans-serif;
  color: #252525;
  border-bottom: 1px #e4e4e4 solid;
}
nav p,
nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
nav p:first-child,
nav ul:first-child {
  font-weight: bold;
  justify-content: start;
}
nav ul {
  gap: 16px;
  justify-content: flex-end;
}
nav ul li {
  cursor: pointer;
}
nav ul li:first-child {
  font-weight: bold;
}

main {
  padding-right: 12%;
  padding-left: 12%;
}
main h1 {
  margin-top: 50px;
  height: 40vh;
  font-size: 10vw;
  font-family: sans-serif;
  display: flex;
  align-items: center;
}
main .button_line {
  padding-top: 15vh;
}
main .button_line button {
  background-color: #e4e4e4;
  border: none;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 25px;
  margin-right: 8px;
  cursor: pointer;
}
main .button_line button:first-child {
  background-color: #252525;
  color: #e4e4e4;
}
main hr {
  margin-top: 80px;
  margin-bottom: 80px;
  border: 1px #e4e4e4 solid;
}
main .gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
  gap: 96px 32px;
  margin-bottom: 60vh;
}
main .gallery .gal_elem {
  height: 100%;
  min-height: 50vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
}
main .gallery .gal_elem:first-child {
  background-image: url("img/pexels-julia-volk-5769387.jpg");
}
main .gallery .gal_elem:nth-child(2) {
  background-image: url("img/pexels-olga-lioncat-7245369.jpg");
}
main .gallery .gal_elem:nth-child(3) {
  background-image: url("img/pexels-ricardo-oliveira-14240299.jpg");
}
main .gallery .gal_elem:nth-child(4) {
  background-image: url("img/pexels-said-14008899.jpg");
}

.filter {
  position: fixed;
  height: 100vh;
  right: -120%;
  width: 100vw;
  background-color: black;
  opacity: 0.4;
  z-index: 9998;
}

.modal {
  position: fixed;
  width: 80vw;
  height: 100vh;
  right: -100%;
  top: 0;
  background-color: #fff;
  overflow: scroll;
  z-index: 9999;
}
.modal::-webkit-scrollbar {
  display: none;
}
.modal .modal_nav {
  border-bottom: 1px #e4e4e4 solid;
  height: 50px;
  width: 82%;
  position: fixed;
  color: #252525;
  display: flex;
  flex-direction: row;
  padding-left: 8%;
  padding-right: 8%;
  align-items: center;
  justify-content: space-between;
  font-family: sans-serif;
  z-index: 99;
  background-color: #fff;
}
.modal .modal_nav .arrow {
  display: flex;
  flex-direction: row;
  gap: 16px;
  text-transform: uppercase;
}
.modal .modal_nav .arrow p {
  cursor: pointer;
}
.modal .modal_nav .arrow p:hover {
  font-weight: bold;
}
.modal .modal_nav .close_modal {
  background-color: #e4e4e4;
  border: none;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 25px;
  margin-right: 8px;
  cursor: pointer;
}
.modal .header {
  background-image: url("img/pexels-julia-volk-5769387.jpg");
  background-size: cover;
  background-position: center center;
  color: white;
  height: 60vh;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 8%;
  padding-right: 8%;
}
.modal .header h2 {
  font-size: 4vw;
  font-family: sans-serif;
}
.modal .header .cat {
  margin-top: -130px;
}
.modal .header button {
  background-color: #e4e4e4;
  border: none;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 25px;
  margin-right: 8px;
  cursor: pointer;
  width: 160px;
}
.modal .content {
  display: flex;
  flex-direction: row;
  margin-top: 64px;
}
.modal .content .left {
  width: 50%;
}
.modal .content .right {
  width: 50%;
  font-size: 32px;
  font-family: sans-serif;
}/*# sourceMappingURL=index.css.map */